* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

/* body {
  margin: 0 auto;
} */

header.container {
  background-color: #ffffff;
  padding: 10px 412px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section {
  display: flex;
  justify-content: center;
}

.logo {
  width: 320px;
  height: 58px;
  max-width: 317px;
}

.section-navbar {
  display: flex;
  justify-content: space-around;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu .menu-item .sub-arrow {
  color: #010044;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.menu .menu-item a:hover {
  color: #fff;
  background-color: #010044;
}

.menu li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 100px;
  max-width: 200px;
  margin: 0;
  padding: 10px;
  border: 1px solid #cccccc;
}

.menu li:hover ul {
  display: block;
  position: absolute;
  background-color: #ffffff;
  min-width: 100px;
  max-width: 200px;
  margin: 0;
  padding: 10px;
  border: 1px solid #cccccc;
}
.menu li ul li {
  display: block;
  margin: 0;
  padding: 0;
}

.menu li ul li a {
  color: #010044;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.menu li ul li a:hover {
  color: #fff;
  background-color: #010044;
}

.content-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .content-page .element-content .element-slide {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* Slide */
section.element-top.element-slide.element-row {
  width: 100%;
  height: 461px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.carousel.slide .carousel-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.carousel-item {
  width: 33.33%;
  height: 100%;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}

.carousel-control-next {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  cursor: pointer;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #0000ff;
}

/* video */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.element-content-item2.element-row.element-col-2rows {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.element-widget-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.element-row.element-widget-video {
  width: 100%;
  height: 100%;
}

.element-open-inline {
  display: flex;
  justify-content: center;
}

.element-video {
  width: 640px;
  height: 360px;
}

.element-widget-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.element-row.element-paragraph {
  width: 1028px;
  height: 360px;
  align-items: center;
  font-size: 20px;
}

ul {
  list-style: none;
}

.p {
  text-align: justify;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  line-height: 1.5;
}

.a {
  text-decoration: none;
  color: #0000ff;
}

.strong {
  font-weight: bold;
}

.element-row.element-widget-title {
  width: 100%;
  height: 100%;
}

.h2 {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  line-height: 1.5;
  margin: 0 20px;
}

/* Certificate */

.element-col2-gap {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.element-col2-gap .element-col-right .element-colR-address ul {
  list-style: none;
}

.item-widget-bottom {
  background-color: #010042;
  color: #fff;
  border-radius: 20px;
  width: 500px;
}

section .element-certi-col4 {
  display: flex;
  column-gap: 30px;
  text-align: center;
}

section .element-certi-col4 .item-certi-col4 {
  background-color: #010042;
  color: #fff;
  border-radius: 20px;
}

.element-widget-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
/* Dich vu trung tam */
section .element-widget-wrap-row4 {
  color: #fff;
  max-width: 100%;
  padding: 30px 375px;

  border-radius: 20px;
  background: #000;
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.08);
}

section .element-widget-wrap-row4 .element-widget-image {
  display: flex;
  justify-content: center;
  background: radial-gradient(70.71% 70.71% at 50% 50%, #e087ed 0%, #000 60%);
}

section .element-widget-wrap-row4 .element-heading-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.element-widget-wrap-row4 .element-desc-heading {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
}

.element-widget-wrap-row4 .element-widget-paragraph {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.element-widget-wrap-row4 .element-button {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px; /* 111.765% */
}
/* Dich vu mac */
section .element-widget-container_mac {
  padding: 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #ccc;
  border-radius: 15px;
  background: linear-gradient(196deg, #d670a8 0%, #291252 100%);
}

section .element-widget-container_mac .element-button {
  background-color: #ffffff;
  color: #ba2eba;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: flex-start;
}

section .element-widget-container_mac .element-widget-image {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
section .element-widget-container_mac .element-title-h2 {
  width: 1140px;
  display: flex;
  justify-content: center;
}
section .element-widget-container_mac .element-desc-heading_mac {
  width: 1140px;
  display: flex;
  justify-content: center;
  margin: 0px 0px 14px 0px;
}

/* Dịch vụ ipad */

section .element-widget-container_ipad {
  background-color: #fff;
  padding: 40px 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  background: linear-gradient(191deg, #e5c6dd 0%, #eb8b71 100%);
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.08);
  display: flex;
  width: 1140px;
  justify-content: center;
  align-items: flex-start;
}

.element-widget-container_ipad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.element-col1-image {
  width: 550px;
  height: 380px;
  border-radius: 5px;
}

.element-widget-container_ipad .element-col2-desc {
  /* width: calc(100% - 200px); */
  width: 570px;
  height: 397.72px;
  text-align: center;
}

.element-col2-desc #DICH_VU_IPAD {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
}

.element-col2-desc .element-desc-heading {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px; /* 180% */
}
.element-col2-desc .element-button {
  display: flex;
  padding: 12px 23.94px 12px 24px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 25px;
  background: #fff;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}

/* Dich vu cho Watch va Airpod */

.container-col2-mid {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* align-items: center; */
}

.container-col2-mid .container-col1 {
  padding: 25px 0px 29.09px 0px;
  flex-direction: column;
  border-radius: 15px;
  background: radial-gradient(70.71% 70.71% at 50% 50%, #fff 0%, #e2d4cb 100%);
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.08);
  align-items: flex-start;
  flex: 1 0 0;
}

.container-col2-mid .container-col2 {
  padding: 25px 0px 29.09px 0px;
  flex-direction: column;
  border-radius: 15px;
  background: radial-gradient(70.71% 70.71% at 50% 50%, #fff 0%, #e2d4cb 100%);
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.07);
  align-items: flex-start;
  flex: 0 0 1;
}
