* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #010042;
}

header.container {
  background-color: #ffffff;
  padding: 10px 412px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section {
  display: flex;
  justify-content: center;
}

.logo {
  width: 320px;
  height: 58px;
  max-width: 317px;
}

.section-navbar {
  display: flex;
  justify-content: space-around;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu .menu-item .sub-arrow {
  color: #010044;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.menu .menu-item a:hover {
  color: #fff;
  background-color: #010044;
}

.menu li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 100px;
  max-width: 200px;
  margin: 0;
  padding: 10px;
  border: 1px solid #cccccc;
}

.menu li:hover ul {
  display: block;
  position: absolute;
  background-color: #ffffff;
  min-width: 100px;
  max-width: 200px;
  margin: 0;
  padding: 10px;
  border: 1px solid #cccccc;
}
.menu li ul li {
  display: block;
  margin: 0;
  padding: 0;
}

.menu li ul li a {
  color: #010044;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.menu li ul li a:hover {
  color: #fff;
  background-color: #010044;
}

.content-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .content-page .element-content .element-slide {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* Slide */
section.element-top.element-slide.element-row {
  width: 100%;
  height: 461px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.carousel.slide .carousel-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.carousel-item {
  width: 33.33%;
  height: 100%;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}

.carousel-control-next {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  cursor: pointer;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #0000ff;
}

/* video */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.element-content-item2.element-row.element-col-2rows {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.element-widget-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.element-row.element-widget-video {
  width: 100%;
  height: 100%;
}

.element-open-inline {
  display: flex;
  justify-content: center;
}

.element-video {
  width: 640px;
  height: 360px;
}

.element-widget-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.element-row.element-paragraph {
  width: 1028px;
  height: 360px;
  align-items: center;
  font-size: 20px;
}

ul {
  list-style: none;
}

.p {
  text-align: justify;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  line-height: 1.5;
}

.a {
  text-decoration: none;
  color: #0000ff;
}

.strong {
  font-weight: bold;
}

.element-row.element-widget-title {
  width: 100%;
  height: 100%;
}

.h2 {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  line-height: 1.5;
  margin: 0 20px;
}

/* Certificate */

.element-col2-gap {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.element-col2-gap .element-col-right .element-colR-address ul {
  list-style: none;
}

.item-widget-bottom {
  background-color: #010042;
  color: #fff;
  border-radius: 20px;
  width: 500px;
}

section .element-certi-col4 {
  display: flex;
  column-gap: 30px;
  text-align: center;
}

section .element-certi-col4 .item-certi-col4 {
  background-color: #010042;
  color: #fff;
  border-radius: 20px;
}

.element-widget-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
/* Dich vu trung tam */
section .element-widget-wrap-row4 {
  color: #fff;
  max-width: 100%;
  padding: 30px 375px;

  border-radius: 20px;
  background: #000;
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.08);
}

section .element-widget-wrap-row4 .element-widget-image {
  display: flex;
  justify-content: center;
  background: radial-gradient(70.71% 70.71% at 50% 50%, #e087ed 0%, #000 60%);
}

section .element-widget-wrap-row4 .element-heading-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.element-widget-wrap-row4 .element-desc-heading {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
}

.element-widget-wrap-row4 .element-widget-paragraph {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.element-widget-wrap-row4 .element-button {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px; /* 111.765% */
}
/* Dich vu mac */
section .element-widget-container_mac {
  padding: 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #ccc;
  border-radius: 15px;
  background: linear-gradient(196deg, #d670a8 0%, #291252 100%);
}

section .element-widget-container_mac .element-button {
  background-color: #ffffff;
  color: #ba2eba;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: flex-start;
}

section .element-widget-container_mac .element-widget-image {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
section .element-widget-container_mac .element-title-h2 {
  width: 1140px;
  display: flex;
  justify-content: center;
}
section .element-widget-container_mac .element-desc-heading_mac {
  width: 1140px;
  display: flex;
  justify-content: center;
  margin: 0px 0px 14px 0px;
}

/* Dịch vụ ipad */

section .element-widget-container_ipad {
  background-color: #fff;
  padding: 40px 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  background: linear-gradient(191deg, #e5c6dd 0%, #eb8b71 100%);
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.08);
  display: flex;
  width: 1140px;
  justify-content: center;
  align-items: flex-start;
}

.element-widget-container_ipad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.element-col1-image {
  width: 550px;
  height: 380px;
  border-radius: 5px;
}

.element-widget-container_ipad .element-col2-desc {
  /* width: calc(100% - 200px); */
  width: 570px;
  height: 397.72px;
  text-align: center;
}

.element-col2-desc #DICH_VU_IPAD {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
}

.element-col2-desc .element-desc-heading {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px; /* 180% */
}
.element-col2-desc .element-button {
  display: flex;
  padding: 12px 23.94px 12px 24px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 25px;
  background: #fff;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}

/* Dich vu cho Watch va Airpod */

.container-col2-mid {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* align-items: center; */
}

.container-col2-mid .container-col1 {
  padding: 25px 0px 29.09px 0px;
  flex-direction: column;
  border-radius: 15px;
  background: radial-gradient(70.71% 70.71% at 50% 50%, #fff 0%, #e2d4cb 100%);
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.08);
  align-items: flex-start;
  flex: 1 0 0;
}

.container-col2-mid .container-col1 .item-img_L {
  display: flex;
  width: 562.5px;
  padding: 0px 15px 22.39px 15px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.container-col2-mid .container-col1 .item-content_L {
  color: #212529;
  text-align: center;
}

.container-col2-mid .container-col1 .item-content_L {
  background-color: #000;
  border-radius: 25px;
  color: white;
  padding: 12px 24px;
  align-self: center;
}

.container-col2-mid .container-col1 .item-content_L .element-desc-L {
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}

.container-col2-mid .container-col2 {
  display: flex;
  padding: 25px 0px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: 15px;
  background: radial-gradient(70.71% 70.71% at 50% 50%, #fff 0%, #ded5d5 100%);
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.08);
}

.container-col2-mid .container-col2 .item-img_R {
  display: flex;
  width: 562.5px;
  padding: 0px 146.92px 22.39px 146.58px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.container-col2-mid .container-col2 .item-content_R {
  background-color: #000;
  border-radius: 25px;
  color: white;
  padding: 12px 24px;
  align-self: center;
}

.container-col2-mid .container-col2 .item-img_R .element-heading-title_R {
  color: #212529;
  text-align: center;
  font-size: 28px;
}

.container-heading-top {
  display: flex;
  width: 1140px;
  padding: 0px 367.09px 40px 366.91px;
  justify-content: center;
  align-items: flex-start;
}

.container-head-phukien {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.container-head-phukien .container-heading-top {
  text-align: center;
}

.container-head-phukien .container-heading-top .heading-title-mid {
  font-size: 20px;
  font-weight: bold;
}

.container-head-phukien .container-phukien {
  display: flex;
  display: flex;
  width: 1140px;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 45px 35px;
}

.container-head-phukien .container-phukien .grid-item-phukien {
  /* display: inline-block;
  width: 200px;
  padding: 65.06px 16px 16px 16px;
  align-items: center;
  border-radius: 15px;
  border: 1px solid #d2d2d7; */
  width: calc(20% - 28px);
  flex-shrink: 1;
  text-align: center;
  margin-bottom: 45px;
  padding: 15px;
  border: 1px solid #d2d2d7;
  border-radius: 15px;
}

.container-head-phukien .container-phukien .grid-item-phukien:hover {
  background: url(<path-to-image>), lightgray 0px 0px / 100% 100% no-repeat;
}

.container-head-phukien
  .container-phukien
  .grid-item-phukien
  .img-grid-phukien:hover {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.container-head-phukien
  .container-phukien
  .grid-item-phukien
  .desc-item-phukien {
  text-align: center;
}

.container-news-header {
  display: flex;
  width: 1140px;
  max-width: 1140px;
  padding-right: 0px;
  align-items: flex-start;
  flex-direction: row;
}

.container-news-header .container-head-news {
  display: flex;
  width: 1140px;
  max-width: 1140px;
  padding-right: 0px;
  justify-content: center;
  place-items: center;
  gap: 40px;
}
.container-news-header .container-news-item .item-left {
  border-top: 1px solid #939393;
  width: 319.19px;
  height: 1px;
  flex-shrink: 0;
}

.container-news-header .container-news-item .item-right {
  border-top: 1px solid #939393;
  width: 319.19px;
  height: 1px;
  flex-shrink: 0;
}

.widget-news-head {
  /* row-gap: 20px; */
  display: flex;
  width: 1140px;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.widget-news-head .news-all {
  display: flex;
  width: 1120px;
  padding: 3px 0px 5px 1064.14px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
}

.widget-news-head .widget-news-4 {
  display: flex;
  align-items: center;
  width: 1140px;
  flex-wrap: wrap;
  gap: 45px 35px;
}

.widget-news-head .widget-news-4 .item-news-4 {
  flex: 1;
}
/* 
.title-item-news-41 {
  display: flex;
  padding-right: 0px;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 11.6px;
} */
.widget-news-head .widget-news-4 .group-item-news-4 .content-item-news-41 {
  display: flex;
  flex-wrap: wrap;
  /* border-radius: 0px 0px 5px 5px;
  border-right: 1px solid #b6b6b6;
  border-bottom: 1px solid #b6b6b6;
  border-left: 1px solid #b6b6b6; */
}

.footer-head {
  border-top: 1px solid #e1e1e1;
  display: flex;
  width: 1140px;
  padding: 11px 10px 15px 10px;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.footer-head p {
  color: #777;
  text-align: center;
  display: flex;
  width: 1120px;
  padding: 0px 130.5px 0px 129.5px;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
}

.footer-head img {
  width: 100px;
  height: 38px;
  max-width: 100px;
}
