#tieude {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* * {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
} */
.container {
  display: flex;
  justify-content: center;
}
.container .container_content {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
  width: 489px;
  height: 489px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
